#app .columns .column .block .tag{
    margin-right: 10px;
    margin-bottom: 10px;
}

#app .columns .column .card{
    margin-bottom: 20px;
}

.fa-check{
    color:green
}
.fa-times{
    color:red;
}