.brand {
    /* color:forestgreen; */
    font-size: 3rem;
    font-weight: 900;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 2rem;
}
#section-rig{
    color: orange;
    /* font-style: normal; */
    background-color: aliceblue;
    font-size: 2rem;
    padding-left:30%;
    
}
#section-travels{
    color:lightskyblue;
    /* font-style: normal; */
    background-color: aliceblue;
    font-size: 2rem;
    padding-left:50%;
}
#section-projects{
    color: maroon;
    /* font-style: normal; */
    background-color: aliceblue;
    font-size: 2rem;
    padding-left:70%;
}