.brand {
    /* color:forestgreen; */
    font-size: 3rem;
    font-weight: 900;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 2rem;
    margin: 0px;
}
/* .sections {
    animation-duration: 3s;
    animation-name: slidein;
    @keyframes slidein {
  from {
    margin-left: -100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
} */

#section-rig{
    background-color: #ffd400;
    color:white;
    height:6rem;
    font-size: 2rem;
    padding-left:30%;
}
#section-travels{
    background-color:lightskyblue;
    color:white;
    height:6rem;
    font-size: 2rem;
    padding-left:50%;
}
#section-projects{
    background-color: maroon;
    color:white;
    height:6rem;
    font-size: 2rem;
    padding-left:70%;
}