.brand {
    /* color:forestgreen; */
    font-size: 3rem;
    font-weight: 900;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 2rem;
}
#section-rig{
    background-color: #ffd400;
    color:white;
    height:6rem;
    /* font-style: normal; */
    /* background-color: aliceblue; */
    font-size: 2rem;
    padding-left:30%;
    
}
#section-travels{
    background-color:lightskyblue;
    color:white;
    height:6rem;
    /* font-style: normal; */
    /* background-color: aliceblue; */
    font-size: 2rem;
    padding-left:50%;
}
#section-projects{
    background-color: maroon;
    color:white;
    height:6rem;
    /* font-style: normal; */
    /* background-color: aliceblue; */
    font-size: 2rem;
    padding-left:70%;
}