<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stress Ball shop</title>
    <script src="https://www.gstatic.com/firebasejs/8.2.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-firestore.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-firestore"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


  </head>
  <body>
    <section class="section">
        <h1 class="title">Stan Dan's Plans</h1>
        <h2 class="subtitle">
          Catchy catch catch <strong>thought</strong>, like, good, stress balls should be.
        </h2>
    </section>
<div id="app">
    <div class="columns">
        <div class="column">
            <section class="section">
                <div v-if="orderPlaced">
                    <div class="container">
                        <h1 class="title">The Breakdown</h1>
                        <h2 class="subtitle">
                            Piecs of <strong>stress</strong>unite!
                        </h2>
                        <div id="chart_div"></div>
                    </div>
                </div>
                <div v-if="!orderPlaced">
                    <div class="container">
                        <h1 class="title">In depth</h1>
                        <h2 class="subtitle">
                            Lorem ipsum dolor sit amet, <strong>consectetur</strong>, adipiscing elit.
                        </h2>
                        <p>
                            Ed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                            laborum
                        </p>
                    </div>
                </div>
            </section>
        </div>


        <div class="column">
            <section class="section">
                <div class="container"> 
                    <div v-if="orderPlaced">
                        <h1 class="title">Congratulations! You're order has been placed.</h1>
                    </div>
                    <div class="field">
                        <button class="button is-primary is-big is-rounded" @click="toggleOrderPlaced()">
                            Place another order
                        </button>
                    </div>
                    
                    <div v-if="!orderPlaced" >
                        <h1 class="title">
                            Orders
                        </h1>
                        <p class="subtitle">
                            Pick your own personal unique-ish <strong>Flavor</strong>!
                        </p>
                        
                        <div class="field">
                            <label class="label">Name</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="who should we call once it's ready?" v-model="order.name">
                            </div>
                        </div>
                        
                        <div class="field">
                            <label class="label">Flavors</label>
                            <div class="control">
                                <div v-if="!showAddFlavor" class="select is-primary">
                                    <select v-model="order.flavor">
                                        <option selected>Pick a flavor!</option>
                                        <option v-for="s in stressors">
                                            {{s.name}}
                                        </option>
                                    </select>
                                    <!-- <p class="help is-danger">This email is invalid</p> -->
                                </div>
                                <button v-if="!showAddFlavor" class="button is-primary" @click="showAdd()">
                                    Create a new one!
                                </button>
                            </div>
                        </div>
                        
                        <div v-if="showAddFlavor" class="field is-grouped has-addons">
                            <div class="control">
                                <input class="input" type="text" placeholder="new flavor!" v-model="stressor.name" v-on:keyup.enter="add()">
                            </div>
                            <div class="control">
                                <button class="button is-primary" @click="add()">
                                    add
                                </button>
                            </div>
                            <!-- <p class="help is-success">This username is available</p> -->
                        </div>
                        
                        <div class="field">
                            <div class="control">
                                <div class="select is-primary">
                                    <select v-model="order.color">
                                        <option selected>Pick a color!</option>
                                        <option>Red</option>
                                        <option>Blue</option>
                                    </select>
                                </div>
                        
                            </div>
                            <div class="field">
                                <label class="label">Special instructions / Comments</label>
                                <div class="control">
                                    <textarea v-model="order.comment" class="textarea"
                                        placeholder="Would you mind sharing a little about your stress with the world?"></textarea>
                                </div>
                            </div>
                        
                            <div class="field">
                                <button class="button is-primary is-big is-rounded" @click="place()">
                                    Place Order
                                </button>
                            </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

    <footer class="footer">
        <div class="content has-text-centered">
        <p>
            <strong>Bla</strong> by <a href="https://foorbar.com">Foo Bar </a>.
        </p>
        </div>
    </footer>
    <script src="../scripts/main.js"></script>
  </body>
</html>