<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Stan Dan's Plans</title>
    <script src="https://www.gstatic.com/firebasejs/8.2.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-firestore.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-firestore"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <link rel="stylesheet" href="../styles/styles.css">

</head>
<body>
  <div class="header columns">
    <div class="column">
      <a></a>
    </div>
  </div>
      <div class="column">
        <section class="section">
          <div class="container" id="app">
            <h1 class="title">
              Orders
            </h1>
            <p class="subtitle">
              Pick your own personal unique-ish <strong>Flavor</strong>!
            </p>
      
            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input class="input" type="text" placeholder="who should we call once it's ready?" v-model="order.name">
              </div>
            </div>
      
            <div class="field">
              <label class="label">Flavors</label>
              <div class="control">
                <div v-if="!showAddFlavor" class="select is-primary">
                  <select v-model="order.flavor">
                    <option selected>Pick a flavor!</option>
                    <option v-for="s in stressors">
                      {{s.name}}
                    </option>
                  </select>
                </div>
                <button v-if="!showAddFlavor" class="button is-primary" @click="showAdd()">
                  Create a new one!
                </button>
              </div>
            </div>
      
            <div v-if="showAddFlavor" class="field is-grouped has-addons">
              <div class="control">
                <input class="input" type="text" placeholder="new flavor!" v-model="stressor.name" v-on:keyup.enter="add()">
              </div>
              <div class="control">
                <button class="button is-primary" @click="add()">
                  add
                </button>
              </div>
              <!-- <p class="help is-success">This username is available</p> -->
            </div>
      
            <div class="field">
              <div class="control">
                <div class="select is-primary">
                  <select v-model="order.color">
                    <option selected>Pick a color!</option>
                    <option>Red</option>
                    <option>Blue</option>
                  </select>
                </div>
      
              </div>
              <div class="field">
                <label class="label">Special instructions / Comments</label>
                <div class="control">
                  <textarea v-model="order.comment" class="textarea"
                    placeholder="Show me on the doll where that flavor of stress ball hurted you"></textarea>
                </div>
              </div>
      
              <div class="field">
                <button class="button is-primary is-big is-rounded" @click="place()">
                  Place Order
                </button>
              </div>
            </div>
        </section>
      </div>
      </div>

    <div id="chart_div"></div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
        <script src="../scripts/main.js"></script>
<script src="../scripts/scripts.js"></script>
</html>